$purple: #653796;

$cinema: #653796;
$sports: #1d61bd;
$boost: #00a48b;
$hayu: #fb2053;
$sportsmobile: #1d61bd;
$entertainment: #f0672b;
$kids: #eb3c3c;
$darkBlue: #2d3f70;

:export {
  cinema: $cinema;
  sports: $sports;
  boost: $boost;
  hayu: $hayu;
  sportsmobile: $sportsmobile;
  entertainment: $entertainment;
  kids: $kids;
  darkBlue: $darkBlue;
}
