.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.no-circle .n-header__circle {
  display: none;
}

.no-circle .n-header__icon {
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1120px) {
  .no-circle .n-header__circle-container {
    max-height: 60px;
  }
}

.n-accordion__chevron .n-svg {
  position: relative;
  font-size: 0;
  width: 10px;
  height: 10px;
  z-index: 2;
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding-bottom: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.pass-styles {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.subscription-name {
  color: #653796;
}
